.App {
  text-align: left;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
}


.card {
  flex: 0 1 calc(20% - 1em);
  padding:10px;
  background-color: gray !important;
  border: 2px solid whitesmoke !important;
}

.card h2 {
  font-size: 30px;
  font-family: 'Roboto';
  color: black;
  text-align: center;
}

.card h5 {
  font-size: 18px;
  font-family: 'Roboto';
  color: black;
  text-align: center;
}

/* img {
  object-fit: scale-down;
  border: 15px solid;
  border-radius: 10px;
  border-color: black;
} */

.card label {
  text-align: center;  
  font-family: 'Roboto';
  color: black;
}

.card select {
  border-radius: 10px;
  border: 2px solid;
  background-color: #282c34;
  margin-bottom: 5px;
  color: whitesmoke;
}

.multi-card {
  flex: 1;
  max-width:10px;
  background-color: gray !important;
  border: 2px solid whitesmoke !important;
}

.multi-row {
  text-align: left;
  background-color: #424449;
  padding: 5px;
  border: 2px solid;
}

.multi-row h2 {
  font-size: 24px;
  color:aliceblue;
}

.sprite-img {
  border-radius: 50%;
  width: 100px;
  padding: 10px;
}

.search-bar{
  position: relative;
  margin-top:78px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
}